@import './variables.scss', './mixins.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--color--background: #{$color-light};
	--color--text: #{$color-dark};
}

html[data-theme='dark'] {
	--color--background: #{$color-dark};
	--color--text: #{$color-white};
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	font-size: $font-text-base;
	background-color: var(--color--background);
	color: var(--color--text);
}

input {
	border-style: none;
	background: transparent;
	outline: none;
	font-family: inherit;
}
button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
	font-family: inherit;
}
a {
	font-weight: $font-weight-medium;
	text-decoration: inherit;
	cursor: pointer;
}

a:-webkit-any-link {
	color: var(--color--text);
}

a:visited {
	color: var(--color--text);
}
li {
	list-style: none;
}

hr {
	width: 80%;
	border-top: 1px solid $color-gray-light;
	margin-top: 10px;
	margin-bottom: 10px;
}
