@import './mixins.scss', './variables.scss';
.section {
	width: 100vw;
	@include flex($direction: column);
}

.section_principal {
	height: 100vh;
	justify-content: space-evenly;
}

.section__center {
	padding: 20px 6%;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	@include flex($justify: space-between);
	margin-top: 26px;
	padding-left: 6%;
	padding-right: 6%;
}

.hamburger {
	@include flex($direction: column);
	div {
		width: 28px;
		height: 3px;
		background-color: $color-gray;
		border-radius: $rounded-md;
	}
	div:nth-child(-n + 2) {
		margin-bottom: 4px;
	}
}

.container_titles {
	@include flex($direction: column);
	margin-top: 40px;
}

.hi {
	font-size: $font-text-sm;
	color: $color-gray-dark;
}
.hi_dark {
	color: $color-gray-light;
}

.big_title {
	font-size: $font-text-xl;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.big_title__orange {
	color: $color-orange;
}

.location {
	font-size: $font-text-mini;
	margin-bottom: 30px;
}

.container_data {
	@include flex();
	.data_wrapper {
		@include flex($direction: column);
		& div:first-child {
			@include flex();
			width: 60px;
			height: 35px;
			background-color: $color-gray-light;
			margin: 2px;
			border-radius: $rounded;
			font-weight: $font-weight-semibold;
			color: $color-gray-dark;
		}
		& div:first-child.rectangle_dark {
			background-color: $color-gray-dark;
			color: $color-light;
		}
		& div:last-child {
			font-size: $font-text-mini;
			color: $color-gray-dark;
			text-align: center;
			line-height: $font-text-mini;
			margin-top: 6px;
		}
		& div:last-child.text_data_dark {
			color: $color-gray-light;
		}
	}
}

.divider {
	width: 0px;
	height: 50px;
	border-left: 1px dashed $color-gray-light;
	margin-left: 15px;
	margin-right: 15px;
}

.buttons {
	width: 100%;
	@include flex($justify: space-evenly);
}
