@import './mixins.scss', './variables.scss';
.section {
	width: 100vw;
	@include flex($direction: column);
	.title_section {
		width: 100%;
		font-size: $font-title-base;
		margin-bottom: 20px;
		span {
			font-size: $font-title-xl;
			color: $color-orange;
		}
		&.title_section__right {
			text-align: end;
		}
	}
}
.section__center {
	padding: 20px 6%;
	@include from($medium) {
		padding-left: 10%;
		padding-right: 10%;
	}
	@include from($x-large) {
		padding-left: 20%;
		padding-right: 20%;
	}
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	@include flex($justify: space-between);
	margin-top: 26px;
}

.center {
	padding-left: 6%;
	padding-right: 6%;
	@include from($medium) {
		padding-left: 15%;
		padding-right: 15%;
	}
	@include from($x-large) {
		padding-left: 20%;
		padding-right: 20%;
	}
}

.footer {
	margin-top: 20px;
	@include flex($direction: column);
	padding-bottom: 40px;

	.name {
		margin-top: 10px;
		@include flex($justify: left);
		width: 100%;
		span {
			font-weight: $font-weight-bold;
			margin-left: 10px;
		}
	}

	.menu {
		margin-top: 30px;
		width: 100%;

		a {
			font-size: $font-text-sm;
		}
	}

	p {
		margin-top: 20px;
		font-size: $font-text-mini;
	}
}
