@import '../../../styles/mixins.scss', '../../../styles/variables.scss';

.wrapper {
	min-width: 100px;
	padding: 5px 15px;
	min-height: 35px;
	@include flex();
	background-color: $color-gray-light;
	border-radius: $rounded-xl;
	color: $color-gray-dark;
	font-weight: $font-weight-medium;
	font-size: $font-text-sm;
}
.wrapper:hover {
	background-color: $color-gray;
}
