@import '../../../styles/mixins.scss', '../../../styles/variables.scss';

.wrapper {
	min-width: 120px;
	padding: 5px 15px;
	min-height: 40px;
	@include flex();
	border-radius: $rounded-xl;
	div {
		width: 18px;
		height: 18px;
		@include flex();
		margin-right: 10px;
	}

	span {
		font-weight: $font-weight-medium;
		font-size: $font-text-sm;
	}
}
.wrapper.light:hover {
	background-color: $color-white;
}
.wrapper.dark:hover {
	background-color: $color-gray-dark;
}

.dark {
	background-color: $color-gray-darker;
	span {
		color: $color-light;
	}
}
.light {
	background-color: $color-gray-lighter;
	span {
		color: $color-gray-dark;
	}
}
