@import '../../../styles/mixins.scss', '../../../styles/variables.scss';

.section_contact {
	position: relative;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;
	@include from($medium) {
		grid-template-columns: 1fr 1fr;
	}
	overflow: hidden;
}

.wrapper {
	@include flex($justify: left);
	.containerText {
		padding-left: 15px;
		@include flex($direction: column, $align: flex-start);

		.name {
			font-size: $font-text-mini;
			color: $color-gray-dark;
			@include from($small) {
				font-size: $font-text-sm;
			}
		}
		span.text_light {
			color: $color-gray-light;
		}

		.data {
			font-size: $font-text-sm;
			@include from($small) {
				font-size: $font-text-xl;
			}
			font-weight: $font-weight-medium;
		}
	}
	img {
		width: 35px;
		height: 35px;
		object-fit: contain;
		@include from($medium) {
			width: 45px;
			height: 45px;
		}
	}
}

.container_arrow {
	@include flex();
	position: absolute;
	top: 40px;
	right: 6%;
	@include from($medium) {
		right: 10%;
	}
	@include from($x-large) {
		right: 20%;
	}
	border-radius: $rounded-md;
	width: 48px;
	height: 48px;
	box-shadow: $shadow;
	z-index: $z-none;
	cursor: pointer;
	transition: 0.3s all;
	transform: scale(0.8);

	&:hover {
		background-color: $color-gray-dark;
	}

	&:hover:after {
		transform: translate(-50%, -50%) scale(0);
	}

	&:hover div:after {
		opacity: 0;
	}

	&:hover div:before {
		opacity: 1;
	}

	div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		&:after {
			content: '';
			display: block;
			width: 22px;
			height: 28px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			transition: 0.3s all;
			opacity: 1;
		}
		&:before {
			content: '';
			display: block;
			width: 22px;
			height: 28px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			transition: 0.3s all;
			opacity: 0;
		}
	}
}

.darkArrow {
	background-color: $color-gray-darker;
	div {
		&:after {
			background: url('../../../assets/images/arrow_white.png') no-repeat;
		}
		&:before {
			background: url('../../../assets/images/arrow.png') no-repeat;
		}
	}
}

.lightArrow {
	background-color: $color-gray-lighter;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
	div {
		&:after {
			background: url('../../../assets/images/arrow.png') no-repeat;
		}
		&:before {
			background: url('../../../assets/images/arrow_white.png') no-repeat;
		}
	}
}
