@import '../../../styles/mixins.scss', '../../../styles/variables.scss';

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;
	@include from($medium) {
		grid-template-columns: 1fr 1fr;
	}
}

.wrapper {
	@include flex($justify: left);
	.containerText {
		padding-left: 15px;
		@include flex($direction: column, $align: start);

		.name {
			font-size: $font-text-sm;
			color: $color-gray-dark;
		}

		.data {
			font-size: $font-text-xl;
			font-weight: $font-weight-medium;
		}
	}
	img {
		width: 45px;
		height: 45px;
		object-fit: contain;
	}
}
