* {
	font-family: 'Raleway', sans-serif;
	color: #293241;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62, 5%;
}
:root {
	--color-primary-light: #98c1d9;
	--color-primary-default: #3d5a80;
	--color-primary-dark: #293241;

	--color-secondary: #ee6c4d;
}
a {
	text-decoration: none;
}
