@import '../../../styles/mixins.scss', '../../../styles/variables.scss';

.container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;
	@include from($large) {
		grid-template-columns: 1fr 1fr;
	}
}

.wrapper {
	width: 100%;
	position: relative;
	margin-top: 30px;
	img {
		width: 100%;
		height: auto;
		@include from($medium) {
			width: 393px;
		}
	}
	.info {
		position: relative;
		.title {
			display: block;
			font-weight: $font-weight-medium;
			font-size: $font-text-xl;
		}
		.subtext {
			font-size: $font-text-sm;
			@include from($medium) {
				font-size: $font-text-base;
			}
		}
		.text_dark {
			color: $color-gray-dark;
		}
		.text_light {
			color: $color-gray-light;
		}

		.links {
			position: absolute;
			top: 10px;
			right: 0;
			@include flex();
			a {
				@include flex();
				margin-right: 10px;
				background-color: $color-gray-lighter;
				width: 35px;
				height: 35px;
				border-radius: $rounded-xl;
				transition: transform 0.3s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.linksDark a {
			background-color: $color-gray-darker;
		}
	}
}
